#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.pagecompocontainer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;

}

.linkcompocontainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.addpageline{
  display: flex;
  justify-content: center;
  align-items: center;
}

.addlinkline{
  display: flex;
  justify-content: center;
  align-items: center;
}